{% extends 'base.html'%}
{% block content %}

<div class="col-md-6 offset-md-3">

{%if user.is_authenticated %}
<h1>Hello user</h1>
{% else %}
    <h1>Login</h1> <br>
    <form action="{% url 'home'%}" method="POST">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <input type="text" class="form-control" required name="username" placeholder="User Name" autofocus>
            </div> <br>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" required placeholder="Password">
            </div> <br>
            <button type="submit" class="btn btn-secondary">Login</button>
          </form>
    </form>
</div>
{% endif %}
{% endblock %}